* {
    background-color: rgb(18, 24, 38);
    color: white;
}

div {
    max-width: 400px;
    margin: auto;
    padding: 20px;

    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input,
select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgb(40, 48, 63);
    border-radius: 4px;
    width: 28rem;
}

button {
    padding: 10px;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
    /* cursor: pointer; */
}

.submitbtn {
    background-color: rgb(78, 128, 238);
}

button:hover {
    background-color: rgb(41, 92, 203);
}

/* @keyframes glow {
    0% {
        box-shadow: 0 0 2px rgba(0, 0, 255, 0.7);
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
    }
} */

/* button:focus {
    animation: glow 1s ease-in-out infinite;
} */
